
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header bg-blue-gradient">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Company's settings</h4>
        </div>
        {{ form_start(edit_form, { 'attr': {'onsubmit': 'sendPostRequest(this, event)' } }) }}
        <div class="modal-body">
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.email) }}
            {{ form_row(edit_form.phone) }}
            {{ form_row(edit_form.currency) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="pull-left btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="pull-right btn btn-success">Save changes</button>
        </div>
        {{ form_end(edit_form) }}

    </div>
</div>