{% extends '@AdminLTE/layout/security-layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block login_form %}
    <form action="{{ path('adminlte_login_check'|route_alias) }}" method="post">
        {% block login_form_start %}{% endblock %}
        <div class="form-group has-feedback">
            <input type="text" name="_username" class="form-control" placeholder="{{ 'Email address'|trans({}, 'AdminLTEBundle') }}" value="{{ last_username|default('') }}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input name="_password" type="password" class="form-control" placeholder="{{ 'Password'|trans({}, 'AdminLTEBundle') }}">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group">
            <input id="remember_me" name="_remember_me" type="checkbox">
            <label for="remember_me">{{ 'Remember Me'|trans({}, 'AdminLTEBundle') }}</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">{{ 'Sign In'|trans({}, 'AdminLTEBundle') }}</button>
        </div>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        {% endif %}
        {% block login_form_end %}{% endblock %}
    </form>
{% endblock %}
{% block login_actions %}
    {% if 'adminlte_password_reset'|route_alias != 'adminlte_password_reset' %}
        <a href="{{ path('adminlte_password_reset'|route_alias) }}">
            {{ 'I forgot my password'|trans({}, 'AdminLTEBundle') }}
        </a>
        <br>
    {% endif %}
    {% if 'adminlte_registration'|route_alias != 'adminlte_registration' %}
        <a href="{{ path('adminlte_registration'|route_alias) }}" class="text-center">
            {{ 'Register a new account'|trans({}, 'AdminLTEBundle') }}
        </a>
    {% endif %}
{% endblock %}