{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Configurations --  Measuring Units{% endblock %}

{% block page_title %}Configurations{% endblock %}
{% block page_subtitle %}Measuring Units{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-3">
            {% set setting_subMenuItem = 'measurements_unites' %}
            {% include 'settings/settings_submenu/settings-menu.html.twig' %}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="pull-right btn bg-olive margin" id="addNewItemBtn" data-toggle="modal" data-target="#dialog">ADD</button>
                    <h4><i class="fa fa-fw fa-balance-scale"></i> Measuring Units</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th class="col-md-9 text-center">NAME</th>
                            <th class="text-center">ACTIONS</th>
                        </thead>
                        <tbody>
                            {% for measuring_unit in measuring_units %}
                                <tr>
                                    <td>{{ measuring_unit.name }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-warning" id="edit-item" onclick="editItem({{ measuring_unit.id }})" data-toggle="modal" data-target="#dialog">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger" onclick="deleteItemConfirmation({{ measuring_unit.id }})" data-toggle="modal" data-target="#dialog">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog" tabindex="-1" role="dialog"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/settings/measuringUnitsManagement.js') }}"></script>
{% endblock %}