{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}User Profile{% endblock %}


{% block page_title %}User Profile{% endblock %}
{% block page_subtitle %}{% endblock %}


{% block page_content %}
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    <button type="submit" class="btn btn-success">Save</button>
    {{ form_end(form) }}
{% endblock %}
