{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}User Profile{% endblock %}


{% block page_title %}User Profile{% endblock %}
{% block page_subtitle %}{% endblock %}


{% block page_content %}
    <div class="box box-primary">
        <div class="box-body">
            {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            <button type="button" id="userProfileEditButton" class="btn btn-primary pull-right" data-toggle="modal" data-target="#userProfileEdit">Edit</button>
            {{ form_end(form) }}
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="userProfileEdit" tabindex="-1" role="dialog">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/userProfile/edit.js') }}"></script>
{% endblock %}